:root{
    --bcolor: linear-gradient(45deg, #a5a708, transparent);
    --primary: #26cc20;
	--dark: #0e0e0e;
}

/*	init */
* {
	box-sizing: border-box;
	font-family: 'Aldrich';
	text-decoration: none;
	list-style: none;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
    background: url('/images/background2.jpg');
    color: #fff;
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.row header{
    width: 100%;
    position: relative;
}

img{ width: 400px; }

.left, .right{
    background: rgba(0,0,0,0.7);
    position: relative;
    flex: 1;
    max-width: 200px;
    height: 450px;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 0 0 20px var(--dark);
    text-align: center;
    border-top: 10px solid #dcdf00;
}

.left img{ 
    max-width: 180px;
    margin-top: 10px;
	border: 0;
	padding: 0;
	flex: 1;
}


/* ---------------- Rigth ---------------- */
.right img{ 
    border-radius: 100px;
	max-width: 180px;
}

.right table th, .right table td{
	background: transparent;
	border: 0px;
	font-weight: normal;
	margin-left: 15px;
}

.right .staff{
	border: 0;
	text-align: left;
	box-shadow: none;
}

.right .staff th{
	font-size: 18px;
	color: #fff;
}

.right .staff td{
	font-size: 12px;
}

.right .staff .type1{color: yellow;background: url('/images/stars6.gif');}
.right .staff .type2{color: blue;background: url('/images/stars6.gif');}
.right .staff .type3{color: red;background: url('/images/stars6.gif');}

.right #social #ws{color: #017e0c;}
.right #social #ins{color: #790dd1;}
.right #social #fb{color: #1c66f0;}

.right #social i {font-size: 18px;padding-left: 15px;}

.center{
    background: rgba(0,0,0,0.7);
    position: relative;
    flex: 1;
    max-width: 950px;
    height: 450px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px var(--dark);
}

footer {
    background: var(--dark);
    position: relative;
    flex: 1;
	text-align: center;
}

footer p{
	font-size: 12px;
	color: white;
    font-weight: normal;
}

.full{
    background: var(--dark);
    position: relative;
    flex: 1;
    height: 400px;
    margin: 0px;
    text-align: center;
}

.full .form-1{
	flex: 1;
    height: 0px;
    border-right: 30px solid transparent;
    border-left: 0px solid transparent;
    border-top: 50px solid #d4eb06;
}

/*	--------------------------------------- Full screen ------------------------------------ */
.full-screen video{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
	
.full-screen{
	width: 100%;
	height: 100vh;
}

/*	--------------------------------------- Main menu ------------------------------------ */
#menu{
	text-align: center;
	font-size: 12px;
    padding: 0px;
}
	
#menu ul{
	list-style: none;
	margin: 0;
	padding: 15px;
	background: var(--bcolor)
}
	
#menu i { 
    font-size: 18px;
	margin:0px 10px 0 0;
 }
	
#menu li{
	display: inline;
	margin: 0;
}
	
#menu li a{
    color: #fff;
	padding: 10px;
}
	
#menu li a:hover{
	background: var(--bcolor);
    box-shadow: 0 0 2px #05200c;
    border-radius: 15px;
}

/*	--------------------------------------- Tables ------------------------------------ */
table{
	line-height: 160%;
	font-size: 12px;
    text-align: justify;
	padding: 0px;
	border: 0;
	width: 100%;
	border: #e2e504 2px solid;
	border-collapse: collapse;
    box-shadow: 0 0 25px rgb(112 110 110);0, 0, 0
}
	
table caption{
	text-align: left;
	font-size: 20px;
	padding: 10px;
	color: white;
}

table i { margin:0px 5px 0 0 }

#total{
	background: #26cc20 url('/images/bg.png');
	color: black;
}
	
th{
	background: #dbdf06 url('/images/bg.png');
	padding: 5px;
	color: black;
}
	
td{
	background-color: rgba(0,0,0);
	padding: 5px;
	color: white;
}

table img{
	width:20px;
}

/*	--------------------------------------- list prices ------------------------------------ */
.prices{
	max-width: 1000px;
	margin: auto;
	padding: 40px;
	display: flex;
	flex-wrap: wrap;
	font-family: "Open Sans",sans-serif;
}
	
.pricing-table{
	background-color: rgba(0,0,0,0.5);
	flex: 1;
	margin: 10px;
	text-transform: uppercase;
}
  
.pricing-header{
	position: relative;
	margin-bottom: 20px;
}
	  
.price{
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px 0;
}

.found{
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0;
}

.price span { font-size: 30px; }

.title{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,50%);
	width: 80%;
	max-width: 360px;
	text-align: center;
	padding: 8px 0;
	font-size: 14px;
}
	  
.pricing-list{
	padding: 10px 20px;
}
	  
.pricing-list li{
	margin: 8px 0;
	font-size: 11px;
	color: white;
	left: 25px;
}
	  
.border{
	width: 100%;
	height: 1px;
	background: white;
	margin: auto;
}
	  
.pricing-table a{
	display: block;
	width: 80%;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	padding: 8px 0;
	font-size: 14px;
	border: 1px solid;
	max-width: 360px;
	transition: .2s linear;
}
	
.pricing-table a:hover{
	border-radius: 30px;
}

.ow .pricing-header { background: #26cc20; }

.ow .title{
	background-image: linear-gradient(125deg, rgb(0, 211, 53), rgb(239, 243, 0));
	font-weight: bold;
}

.ow a{
	color: #26cc20;
	border-radius: 50px;
}
	
.ow a:hover{
	background-image: linear-gradient(125deg, rgb(0, 211, 53), rgb(239, 243, 0));
	color: black;
}

/* ---------------------------------------------------------- Amazon ---------------------------------------------------------- */
.amazon .pricing-header {
	background: url("/images/Amazon.png") center;
	background-size: 100%;
	background-repeat: no-repeat;
}

.amazon .title{
	background-image: linear-gradient(125deg, #1c66f0, #0f5da5);
	font-weight: bold;
}

.amazon a{
	color: #1c66f0;
	border-radius: 50px;
}
	
.amazon a:hover{
	background-image: linear-gradient(125deg, #1c66f0, #0f5da5);
	color: black;
	font-weight: bold;

}

/* ---------------------------------------------------------- Netflix ---------------------------------------------------------- */
.netflix .pricing-header { 
	background: url("/images/netflix.png") center;
	background-size: 100%;
	background-repeat: no-repeat;
}

.netflix .title{
	background-image: linear-gradient(125deg, #f01c1c, #660b0b);
	font-weight: bold;
}

.netflix a{
	color: #f01c1c;
	border-radius: 50px;
}
	
.netflix a:hover{
	background-image: linear-gradient(125deg, #f01c1c, #660b0b);
	color: black;
	font-weight: bold;
}

/* ---------------------------------------------------------- Disney ---------------------------------------------------------- */
.disney .pricing-header {
	background: url("/images/disney.png") center;
	background-size: 100%;
	background-repeat: no-repeat;
}

.disney .title{
	background-image: linear-gradient(125deg, #1cadf0, #0074aa);
	font-weight: bold;
}

.disney a{
	color: #1cadf0;
	border-radius: 50px;
}
	
.disney a:hover{
	background-image: linear-gradient(125deg, #1cadf0, #0074aa);
	color: black;
	font-weight: bold;

}

/* ---------------------------------------------------------- HBO ---------------------------------------------------------- */
.hbo .pricing-header { 
	background: url("/images/hbo.png") center;
	background-size: 100%;
	background-repeat: no-repeat;
 }

.hbo .title{
	background-image: linear-gradient(125deg, #551cf0, #790dd1);
	font-weight: bold;
}

.hbo a{
	color: #551cf0;
	border-radius: 50px;
}
	
.hbo a:hover{
	background-image: linear-gradient(125deg, #551cf0, #790dd1);
	color: black;
	font-weight: bold;

}

/* ---------------------------------------------------------- Star ---------------------------------------------------------- */
.star .pricing-header {
	background: url("/images/star.png") center;
	background-size: 100%;
	background-repeat: no-repeat;
 }

.star .title{
	background-image: linear-gradient(125deg, #eec10c, #a5570f);
	font-weight: bold;
}

.star a{
	color: #eec10c;
	border-radius: 50px;
}
	
.star a:hover{
	background-image: linear-gradient(125deg, #eec10c, #a5570f);
	color: black;
	font-weight: bold;

}

/* ---------------------------------------------------------- Spotify ---------------------------------------------------------- */
.spotify .pricing-header { 
	background: url("/images/spotify.png") center;
	background-size: 100%;
	background-repeat: no-repeat;
 }

.spotify .title{
	background-image: linear-gradient(125deg, #0dba13, #017e0c);
	font-weight: bold;
}

.spotify a{
	color: #0dba13;
	border-radius: 50px;
}
	
.spotify a:hover{
	background-image: linear-gradient(125deg, #0dba13, #017e0c);
	color: black;
	font-weight: bold;

}

/* ---------------------------------------------------------- Steam ---------------------------------------------------------- */
.steam .pricing-header { 
	background: url("/images/steam.png") center;
	background-size: 100%;
	background-repeat: no-repeat;

	color: white;
}

.steam .title{
	background-image: linear-gradient(125deg, #393a3c, #1d16a3);
	font-weight: bold;
	color: white;
}

.steam a{
	color: white;
	border-radius: 50px;
}
	
.steam a:hover{
	background-image: linear-gradient(125deg, #393a3c, #1d16a3);
	color: black;
	font-weight: bold;

}

/* ---------------------------------------------------------- Classic ---------------------------------------------------------- */
.classic .pricing-header { background: #f0351c; }

.classic .title{
	background-image: linear-gradient(125deg, #f0351c, #dbdf06);
	font-weight: bold;
}

.classic a{
	color: #f0351c;
	border-radius: 50px;
}
	
.classic a:hover{
	background-image: linear-gradient(125deg, #f0351c, #dbdf06);
	color: black;
	font-weight: bold;

}

.pop{
	background-image: linear-gradient(125deg, rgb(209, 36, 6), rgb(239, 243, 0));
	color: black;
	font-weight: bold;
	transform: rotate(45deg);
	padding: 10px 50px;
	position: absolute;
	top: 16px;
	right: -34px;
	border-radius: 50px;
}

/*	--------------------------------------- Others ------------------------------------ */
b{
	background: url('/images/stars6.gif');
	color:dbdf06;
	text-shadow: 0 0 0.9em rgb(239 243 0);
}
	
i{
	text-align: center;
	position: relative;
	display:inline-block;
	margin:0 3px 0 0;
	font-size: 18px;
}
	
#social img{
	width: 40px;
	height: 40px;
	padding: 0px;
	margin-top: 10px;
}

.button-33 {
	background-color: #a5a708;
	border-radius: 100px;
	color: white;
	cursor: pointer;
	display: inline-block;
	padding: 7px 20px;
	text-align: center;
	text-decoration: none;
	transition: all 250ms;
	border: 0;
	font-size: 16px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-33:hover {
	transform: scale(1.05) rotate(-1deg);
}

/*	--------------------------------------- Scrollbar ------------------------------------ */
::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track{
	border: 4px solid #232943;
	box-shadow: inset 0 0 2,5px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb{
	background: linear-gradient(45deg, rgb(0 0 0), rgb(251 255 3));
	border-radius: 10px;
}

/*	--------------------------------------- Responsive ------------------------------------ */
@media (max-width:800px){
    .left, .center, .right, .full{
        flex: 100%;
        max-width: 600px;
    }
    body{
        background: #212121;
    }

    .full-screen video{
        display: none;
    }
}

@media screen and (max-width: 747px){
	#menu ul{
		padding: 0;
	}
	#menu ul li{
		margin-right: -3px;
		display: inline-block;
		text-align: left;
		width: 33%;
	}

	#menu li a{
		display: list-item;
	}
    
}

@media screen and (max-width: 480px){
	#menu ul li{
		width: 100%;
	}
}

@media screen and (max-width:780px) {
	.pricing-table{
	  flex: 100%;
	}
}

